/*
 * Luna Stylesheet
 *
 * :author: AgentWhisky
 *
 * Luna Stylesheet is based on BreezeDark by Colin Duquesnoy and Alex Huszagh
 *
 */

QWidget
{
    color: white;
    background-color: #202225; /* Gray_6 */
    selection-background-color:#2f3136; /* Gray_4 */
    selection-color: #2f3136; /* Gray_4 */
    background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0;
}

QWidget:item:hover
{
    background-color: #2f3136; /* Gray_4 */
    color: #2f3136; /* Gray_4 */
}

QWidget:item:selected
{
    background-color: #2f3136; /* Gray_4 */
}

/* Push Button */
QPushButton
{
    color: #e6e8eb; /* White_3 */
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3d4147, stop: 0.5 #2f3136);
    border-width: 0.1ex;
    border-color: #878b8c; /* Gray_2 */
    border-style: solid;
    padding: 0.5ex;
    border-radius: 8px;
    outline: none;
}

QPushButton:pressed
{
    background-color: red;
}

QPushButton:disabled
{
    background-color: #31363b;
    border-width: 0.1ex;
    border-color: #454545;
    border-style: solid;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
    border-radius: 8px;
    color: #454545;
}

QPushButton:focus
{
    color: white;
}
QPushButton:checked
{
    background-color: #76797c;
    border-color: #6A6969;
}

QPushButton:hover
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #454a4f, stop: 0.5 #3b4045);
    border: 0.1ex solid #3daee9;
    color: #eff0f1;
}

QPushButton:checked:hover
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #808386, stop: 0.5 #76797c);
    border: 0.1ex solid #3daee9;
    color: #eff0f1;
}
/* Combo Box */
QComboBox
{
    selection-background-color: white;
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3b4045, stop: 0.5 #31363b);
    border-style: solid;
    border: 0.1ex solid black;
    border-radius: 8px;
    padding: 0.5ex;
    min-width: 7.5ex;
}
QComboBox:on
{
    padding-top: 0.3ex;
    padding-left: 0.4ex;
    selection-background-color: #4a4a4a;
}

QComboBox QAbstractItemView
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3b4045, stop: 0.5 #31363b);
    border-radius: 0.2ex;
    border: 0.1ex solid #76797c;
    selection-background-color: #3daee9;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 1.5ex;

    border-left-width: 0ex;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 0.3ex;
    border-bottom-right-radius: 0.3ex;
}

QComboBox::down-arrow
{
    width: 0.9ex;
    height: 0.6ex;
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus
{
    width: 0.9ex;
    height: 0.6ex;
}
/* QLabel */
QLabel
{
    background-color: #282a2e;
    border-radius: 8px;
}

/* QLineEdit */
QLineEdit
{
    background-color: qlineargradient(x1: 0.5, y1: 0.5 x2: 0.5, y2: 1, stop: 0 #3b4045, stop: 0.5 #31363b);
    padding: 0.5ex;
    border-style: solid;
    border: 0.1ex solid #76797c;
    border-radius: 8px;
    color: #eff0f1;
}
QLineEdit:hover
{
    border: 0.1ex solid #3daee9;
    color: #eff0f1;
}
QLineEdit:hover:pressed
{
    background-color: #31363b;
}
/* QGroupBox */
QGroupBox
{
    background-color: #282a2e;
    border: 0.1ex solid #76797c;
    border-radius: 8px;
    padding-top: 1ex;
    margin-top: 1ex;
}
QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 0.1ex;
    padding-right: 0.1ex;
    margin-top: -0.7ex;
}
QGroupBox::indicator
{
    margin-left: 0.2ex;
}